tmp
*.log
*.tar

*.Rproj
.Rproj.user/
*.rds
*.RData

scrnaseq-alignment/output

scrnaseq-analysis-nxf/templates/gypsum_cache

.nextflow/
.nextflow.pid
*nextflow.log*
work/
results/

*.dat
*.infercnv_obj
*.cell_groupings
*.mcmc_obj

*.nb.html
*.png
*.pdf

tests/

CNV_inference/SCEVAN
CNV_inference/inferCNV/output