params {
    clustering {
        FindVariableFeatures_nfeatures = 2000
        RunPCA_npcs = 30
        PCA_variance_threshold = 2.5
        FindNeighbors_knn = 30
        FindClusters_res = 0.5
        markers_logfc_thresh = 0.5
        markers_min_pct = 0.1
        markers_test_use = "wilcox"
    }
    inferCNV {
        hg38_gencode = "/mnt/data/NGS/Projects/MCL-scrnaseq/MCL-PhanthomMenace/analysis/tmp/hg38_gencode_v27.txt"
    }
}