manifest {
    name            = 'MCL-PhanthomMenace'
    author          = 'Dmitrij Manakov'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

includeConfig 'conf/qc.config'
includeConfig 'conf/analysis.config'

params {
    samples             = "metadata_samples.csv"
    outdir              = 'results'
    
    // Random seed for reproducibility
    seed = 42

    tumor_labelled      = true
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

process {
    container = 'rstudio-server-scrnaseq:1.0'
    cpus = 32
    memory = '128.GB'
}

executor {
    name = 'local'
    cpus = 32
    memory = '128.GB'
}