manifest {
    name            = 'MCL-PhanthomMenace'
    author          = 'Dmitrij Manakov'
    homePage        = ''
    description     = ''
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/qc.config'
includeConfig 'conf/analysis.config'

params {
    // Input data
    samples             = null
    patients            = null
    outdir              = './results'
    
    // Random seed for reproducibility
    seed = 42

    tumor_labelled      = true
    
    // Max resources
    max_memory          = '256.GB'
    max_cpus            = 48
    max_time            = '72.h'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
}

process {
    container = 'rstudio-server-scrnaseq:1.0'
}